@model Gamezy.ViewModels.IndexGameViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Games</h2>

<!-- Display player data. -->
@if (Model.Games.Count <= 0)
{
    <p>There are no games yet.</p>
}

// If we're only listing one element (usually the result of a query):
else if (Model.Games.Count == 1)
{
    <h4>@Model.Games[0].Name</h4>
}

// Default: Print all players w/ generated links.
else
{
    <table>
        <tr>
            <th>Game Name</th>
        </tr>
        @{
            foreach (var g in Model.Games)
            {
                <tr>
                    <td>
                        <p><a href="./Games/Details/@g.Id">@g.Name</a>
                        </p>
                    </td>
                </tr>
            }
        }
    </table>
}