@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Gamezy</h1>
    <p class="lead">Find out what your friends are playing!</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Create an account and add the games you play.
        </p>
        <p><a class="btn btn-default" href="./account/login">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Find your games</h2>
        <p>Find the games you play and add them to your profile.</p>
        <p><a class="btn btn-default" href="./Games">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Find your friends</h2>
        <p>Find your friends so you can follow their progress.</p>
        <p><a class="btn btn-default" href="./Players">Learn more &raquo;</a></p>
    </div>
</div>