@model Gamezy.ViewModels.IndexPlayerViewModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*Some lazy temp Styling *@
<style type="text/css">
    td, th {
        padding: 0 15px 0 15px;
    }
</style>

<h2>Edit</h2>