@model Gamezy.ViewModels.IndexPlayerViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Players</h2>

<!-- Display player data. -->
@if (Model.Players.Count <= 0)
{
    <p>There are no players yet.</p>
}

// If there is only one designated Player:
else if (Model.Players.Count == 1)
{
    <h4>@Model.Players[0].Name</h4>
}

// Default: Print all players w/ generated links.
else
{
    <table>
        <tr>
            <th>Player Name</th>
        </tr>
        @{
            var i = 0;
            foreach (var p in Model.Players)
            {
                <tr>
                    <td>
                        <p><a href="./Players/Details/@i">@p.Name</a></p>
                    </td>
                </tr>

                ++i;
            }
        }
    </table>
}